body{
    background-color: #2c7fa0;
    margin: 0%;
    padding: 20px;
}

header>img {
    border-radius: 10%;
    width: 2px;
    height: 150px;
    float:initial;
}

nav{
    clear: both;
}

#navegacionMenu{
    width: 30%;
    float: left;
    padding-left: 2px;
}

#derecha{
    width: 60%;
    float: right;
    padding-left: 30px;
}

#derecha img{
    width: 75%; /*tamaño*/
    height: 10%;
    border-radius: 30%;
}

#inicio{
    display: block;
    background-color: #f2f4f7;
    clear: both;
    height: 100%;
    border: 2px solid black;
    display: inline-block;
}

#inicio h1{
    text-align: center;
}

.mainArticulo p{
	text-align: justify;
}

.mainPagina{
    width: 22%;
    float: left;
    display: block;
    margin: 15px;
}

.mainPagina p{
    text-align: justify;
}

a{
    text-decoration: none;
    font-family: 'Arial', Times, serif;
    font-size: 20px;
}

footer{
	text-align: center;
	font-family: 'Arial', Times, serif;
    font-size: 20px;
    display: block;
    margin: 15px;
}

aside>ol>li>a:hover{
    font-size: 20px;
    font-family: cursive;
    text-decoration: underline;
}
